<h1> Add a New Review </h1>

<form method="POST" action="/reviews">
    <h3>Wine Name: <input type="text" name="wine_name"></h3>
    <h3>Rating: <input type="text" name="rating"></h3>
    <h3>Comment: <input type="text" name="comment"></h3>
<input type="SUBMIT" value="Add Review">
</form>
