<h1>All Wines</h1>

<h2> Let's Explore Some Wines, <%= current_user.first_name%></h2>

<% @wines.each do |wine| %>
   <h3><%= wine.id%>. <a href= "wines/<%= wine.id%>"><%= wine.name %></a></h3>
    <% end %>



