<h1> Add a New Wine </h1>

<form method="POST" action="/wines">
    <h3>Name: <input type="text" name="name"></h3>
    <h3>Year: <input type="text" name="year"></h3>
    <h3>Varietal: <input type="text" name="varietal"></h3>
    <h3>Rating Style: <input type="text" name="rating"></h3>
<input type="SUBMIT" value="Add Wine">
</form>
