<h1>Edit Wine Type</h1>

<form method="POST" action="/reviews/<%= @review.id %>">
<input type="hidden" name="_method" value="PUT">
    <h3>Name of Wine: <input type="text" name="review[wine_name]" value="<%=@review.wine_name%>"></h3>
    <h3>Rating: <input type="text" name="review[rating]" value="<%=@review.rating%>"></h3>
    <h3>Comment: <input type="text" name="review[comment]" value="<%=@review.comment%>"></h3>
<input type="submit" value="Update Wine">
</form>
    