<h1>Explore Wines by Type</h1>

<h2> Let's Explore Some Wines, <%= current_user.first_name...%></h2>

<% @wine_types.each do |type| %>
   <h2><%= type.name.titleize %></a></h2>
      <% type.wines.each do |wine| %>
         <h4> - <a href="wines/<%= wine.id%>"><%= wine.name %></a></h4>
         <% end %>
    <% end %>
