<h1>Explore Wines by Types</h1>

<h2> Let's Explore Some Wines, <%= current_user.first_name...%></h2>

<% @wine_types.each do |type| %>
   <h3><% type.id%>. <a href= "wine_types/<%= type.id%>"><%= type.name %></a></h3>
    <% end %>
